//plugin
@import '~bootstrap/scss/bootstrap';

$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
.container{
  text-align: center;
	user-select: none;
  .container__heading{
    margin: 40px 0;
  }
  .container__table{
		display: grid;
		@media (min-width: $breakpoint-mobile) {
			grid-template-columns: repeat(1, auto) ;
		}
		@media (min-width: $breakpoint-tablet) {
			grid-template-columns: repeat(2, auto) ;
		}
		@media (min-width: $breakpoint-desktop) {
			grid-template-columns: repeat(3, auto) ;
		}
    margin: 10px;
    .table__item{
      height: 50px;
      cursor: pointer;
      border: 1px solid #dbdbdb;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s all;
      font-size: 17px;
      font-weight: 500;
      &:hover{
        background-color:  #ededed;
      }
    }
    .table__item--highlight{
      background-color: #ff9800 !important;
      color: white
    }
  }
}

